@media print {
    @page: auto {
        size: A4;
        margin: 2cm;
    }
    
    .content {
        width: 100%!important;
        border: none!important;
    }

    .control-panel {
        visibility: hidden!important;
        height: 2cm;
    }

    button {
        display: none!important;
    }
}